@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Mono&display=swap");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 5vw;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  background-color: #f5f186;
  background-image: linear-gradient(315deg, #f5f186 0%, #9dfbc8 74%);
}

img {
  pointer-events: none;
}

.phone {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.app {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff000;
background-image: linear-gradient(315deg, #fff000 0%, #ed008c 74%);
}

.app .avatar {
  width: 13rem;
  height: 13rem;
  margin-top: 1.4rem;
}

.app .avatar img {
  width: 100%;
  height: 100%;
}

.app h1 {
  font-family: 'Caveat', cursive;
  font-size: 2.3rem;
  letter-spacing: 0.16rem;
  margin: 0.5rem 0;
}

.app ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.6rem;
}

.app ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 14.4rem;
  height: 2.6rem;
  border: 0.1rem solid #FFFFFF;
  margin-bottom: 0.84rem;
}

.app ul li a {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app ul li:hover {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

.app ul li:hover a {
  color: white;
}

.app .author {
  font-family: sans-serif;
  font-size: 0.7rem;
  margin-bottom: 0.84rem;
}

@media screen and (min-width: 1025px) {
  html, body {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

  }
  .phone {
    display: block;
    width: 6rem;
    height: auto;
  }
  .app {
    width: 19.5rem;
    height: 34.3rem;
    -webkit-transform: scale(0.2) translate(-49rem, -87.4rem);
            transform: scale(0.2) translate(-49rem, -87.4rem);
  }
  .app ul {
    margin-bottom: 0.3rem;
  }
}