<link rel="stylesheet" href="./css/style.css">
<img class="phone" src="https://i.ibb.co/zb1Bvh3/nexus-white-800x1280.png" alt="Mobile Phone"/>
<section class="app">
  <div class="avatar"><img src="https://i.ibb.co/9WSssHP/logo-circle.png" alt="Avatar"/></div>
  <h1>Hello There!</h1>
  <ul>
    <li><a href="https://wa.link/tpb5u3" target="_blank">Place Your Order Here</a></li>
    <li><a href="https://www.facebook.com/miltonkidukanlko/" target="_blank">See My Facebook Page</a></li>
    <li><a href="https://www.instagram.com/miltonkidukan/" target="_blank">See My Instagram Page</a></li>
  </ul>
  <a class="author" href="https://www.instagram.com/parvashwani/" target="_blank">devloper @parvashwani</a>
</section>